:root {
  --base-font-size: 16px;

}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  height: 150px;
}

h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  /* shorthand is: 10px padding applied to top, right & bottom; left has 50px padding */
  padding: 10px 50px;
  color: #13293d;
  background-color: #82C2C1;
}

h2 {
  /* shorthand is: top & bottom are 2%; right & left are 0 */
  margin: auto;
  font-size: 2.5rem;
}

nav ul {
  display: flex;
  justify-content:space-between;
  min-width: 500px;
  margin-inline-end: 50px;
}

nav a {
  color: #82C2C1;
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: underline;
}

nav a:hover {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 2% auto;
  border-color: springgreen;
}

.hero {
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  /* image is a jpg found in the images folder */
  background-image: url("../images/hero-java-code.jpeg");
  background-size: cover;
  background-position: center;
}

.heroSWE {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border-color: seagreen;
}

.SWE {
  position: relative;
  top: -100px;
  margin-inline-end: 75px;
  /* shorthand is: 10px padding applied to top, right & bottom; left has 50px padding */
  padding: 5px 50px;
  color: #13293d;
  background-color: #82C2C1;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

section h2 {
  width: 200px;
  color: #13293d;
}

#sidebarTitle h2 {
  padding-left: 10px;
  width: 400px;
}

#about-me p {
  padding-top: 15px;
  padding-left: 10px;
  width: 600px;
}

.profile-pic {
  display: inline;
  width: 270px;
  height: 290px;
  margin: 30px;
}

.line-separator {
  display: inline;
  border-left: 5px solid #344664;
  height: 470px;
}

.main-work-item {
  padding-left: 20px;
}

.main-work-item h2 {
  background-color: #13293d;
  color: #fff;
  padding: 3%;
  position: relative;
  top: 30px;
  width: 270px;
  box-shadow: 7px 7px #888888;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.work-item h2 {
     /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 5%;
    background-color: #13293d;
    color: #fff;
    /* height: 150px; */
    position: relative;
    top: 30px;
    width: 270px;
    box-shadow: 7px 7px #888888;
}

.work-item img {
  width: 430px;
  height: 240px;
}

#contact p {
  padding: 30px;
}

#resume p {
  padding: 30px;
}

/* tablets smartphones */
@media screen and (max-width: 992px) {
    nav ul {
      background-color: #17a845;
    }

}

/* large smartphones */
@media screen and (max-width: 768px) {
  /*header, main {*/
  body {
    background-color: #555555;
    /*flex-direction: column;*/
  }

/* small smartphones */
@media screen and (max-width: 576px) {

}

  section {
    /*padding-right: 0;*/
  }

}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  padding-top: 20px;
}


