:root {
  --base-font-size: 16px;
}

* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  color: #fff;
  height: 150px;
}

h1 {
  text-transform: uppercase;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 4rem;
  /* shorthand is: 10px padding applied to top, right & bottom; left has 50px padding */
  padding: 10px 50px;
  color: #13293d;
  background-color: #20cae8;
  border-radius: 25px;
}

h2 {
  /* shorthand is: top & bottom are 2%; right & left are 0 */
  margin: auto;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 2.5rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin-inline-end: 50px;
}

nav a {
  color: #20cae8;
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: underline;
  font-family: "Baloo Chettan 2", cursive;
}

nav a:hover {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 2% auto;
  height: 100%;
}

.hero {
  height: 350px;
  width: 100%;
  margin-bottom: 10px;
  /* image is a jpg found in the images folder */
  background-image: url("../images/hero-java-code.jpeg");
  background-size: cover;
  background-position: center;
}

.heroSWE {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.SWE {
  position: relative;
  top: -100px;
  margin-inline-end: 75px;
  /* shorthand is: 10px padding applied to top, right & bottom; left has 50px padding */
  padding: 5px 50px;
  color: #13293d;
  background-color: #20cae8;
  border-radius: 15px;
}

section {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-bottom: 50px;
}

section h2 {
  width: 200px;
  color: #13293d;
}

.sidebarTitle h2 {
  padding-left: 10px;
}

#about-me p {
  padding-top: 15px;
  padding-left: 10px;
  width: 800px;
}

.profile-pic {
  display: inline;
  width: 270px;
  height: 290px;
  margin: 30px;
  border: #51e2fc 1px solid;
}

.line-separator {
  display: inline;
  border-left: 5px solid #344664;
  height: 100%;
}

.work-container-all {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-work-item {
  padding-left: 20px;
}

.main-work-item img {
  border: #51e2fc 1px solid;
}

.main-work-item h2 {
  background-color: #13293d;
  color: #fff;
  padding: 2%;
  position: relative;
  top: 20px;
  width: 365px;
  box-shadow: 3px 3px #20cae8;
  border: #51e2fc 1px solid;
  font-size: 1.25em;
}

.work-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.work-container-bottom {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  margin-top: 25px;
}

.work-item h2 {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 3%;
  background-color: #13293d;
  color: #fff;
  /* height: 150px; */
  position: relative;
  top: 20px;
  width: 365px;
  box-shadow: 3px 3px #51e2fc;
  border: #51e2fc 1px solid;
  font-size: 1.1em;
}

.work-item img {
  width: 430px;
  height: 240px;
  border: #20cae8 1px solid;
  margin: 15px;
}

.iconsGroup1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  width: max-content;
}

.iconsGroup2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  width: max-content;
}

#contact p {
  padding: 30px;
}

#resume p {
  padding: 30px;
}

.myName {
  color: #13293d;
  font-size: 1.25em;
  background-color: #51e2fc;
}

.wordHighlights {
  color: #13293d;
  background-color: #51e2fc;
}

.work-container-bottom-2per {
  display: inline-flex;
  flex-wrap: wrap;
  width: 80%;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  padding-top: 20px;
}

/* tablets smartphones */
@media screen and (max-width: 992px) {
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    text-align: center;
  }
}

/* large smartphones */
@media screen and (max-width: 768px) {
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    max-width: 100%;
  }

  .footer {
    text-align: center;
  }
}

/* small smartphones */
@media screen and (max-width: 576px) {
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-transform: uppercase;
    font-family: "Baloo Chettan 2", cursive;
    font-size: 2rem;
    /* shorthand is: 10px padding applied to top, right & bottom; left has 50px padding */
    padding: 10px 50px;
    color: #13293d;
    background-color: #20cae8;
    border-radius: 25px;
    margin-right: 30px;
  }

  .footer {
    text-align: center;
  }
}
